
    /* sign in page */
    .all-login-body{
        margin:0;
        width: 100%;
        height: auto;   
        background-image: url("../img/img5.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 100vh;
        z-index: -1;
    }


    .login-body-wrapper{
        position: absolute;
        top: 190px;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .login-wrapper{
        width: 280px;
        margin: auto;
        padding: 20px;
        font-weight: bold;
        border-radius: 7px;
        background: rgba(255,255,255,0.3);
        box-shadow: 0 0 4px #aaa;
        color: rgb(38, 67, 107);
    }
    .signup-body-wrapper{
        top: 150px;
    }


    .login-form-title{
        font-size: 20px;
        text-align: center;
        margin: 16px 0px;
        margin-top: 0px;
        font-weight: bold;
        font-size: 35px;
        letter-spacing: 0.7px;
        color: rgb(160, 3, 24);
    }

    .user-input{
        width: 250px;
        border-radius: 4px;
        height: 30px;
        margin-top: 3px;
        padding-left: 28px;
    }
    .input-div {
        margin-top: 15px;
    }

    .admin-input{
        width: 250px;
        border-radius: 4px;
        height: 30px;
        margin-top: 3px;
        padding-left: 2px;
    }
    .admin-input-sel{
        width: 252px;
        border-radius: 4px;
        height: 30px;
        margin-top: 3px;
    }

    .signin-btn{
        width: 280px;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 4px;
        background: rgb(160, 3, 24);
        font-size: 20px;
        color: #e3e3e3;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .other-link a {
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
    }

    .search-wrapper{
        height: 140px;
        width: 100%;
        background-image: url("../img/delicious-buffet-foodss.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .search-input{
        margin-top: 40px;
        width: 380px;
        border-radius: 8px;
        height: 33px;
        padding-left: 10px;
        outline: none;
    }
    .search-body{
        text-align: center;
        margin-left: auto;
        margin-bottom: auto;
    }

    /* font awesome */
    #filterSearch {
        position: relative;
        z-index: 1;
        left: -25px;
        top: 1px;
        color: rgb(80, 70, 70);
        width: 0;
    }

    #filterUserInput {
        position: relative;
        z-index: 1;
        left: 10px;
        top: -25px;
        color: rgba(80, 70, 70, 0.5);
        width: 0;
    }

    /* css for tables*/

    .order-table{
        border-collapse: collapse;
        margin-top: 30px;
        font-weight: bold;
    }
    .order-table tr {
        height: 50px;   
    }
    .order-table tr:nth-child(odd) {
        background-color: rgb(231, 206, 206);
    }
    .table-title{
        background: #ee6e73 !important;
        color: white;

    }
    .order-table th, .order-table tr , .order-table td {
        text-align: center;
        padding: 25px;
    }
    .centerdivh{
        text-align: center;
    }
    td p{
        display: inline;
        padding: 10px;
    }

    /* admin orders table.... adapted from user order history*/
    .accept-btn{
        background: #039be5;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 4px;
    }
    .reject-btn{
        background: rgb(226, 0, 30);
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 4px;
    }
    /* pagination css*/
    /* idea gotten from w3school https://www.w3schools.com/howto/howto_css_pagination.asp*/
    .pagination a {
        color: black;
        float: left;
        margin-bottom: 30px;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
    }

    .pagination a.active {
        background-color: #ee6e73;
        color: white;
    }

    /* Add a grey background color on mouse-over */
    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }

    /* end of pagination*/
    .food-btn-div{
        padding-bottom: 10px;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .ad-ev-btn{
        color: white;
        border-radius: 5px;
        width: 80px;
        font-weight: bold;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .edit-btn{
        color: white;
        background-color: #039be5;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 3px;
        margin-right: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .delete-btn{
        background: #ee6e73;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 3px;
        margin-left: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*create new food page form*/
    .create-cont-wrapper{
        width: 70%;
        background: rgba(226, 211, 213, 0.9);
        height: 400px;
        margin: 50px;
    }
    .left-ad{
        float: left;
        margin: 50px;

    }
    .right-ad{
        float: left;
        margin: 13px;
        margin-top: 70px;
    }
    .upload-img-box{
        border: 1px solid brown;
        border-radius: 5px;
        width: 200px;
        height: 150px;
        min-height: 100px;
        min-width: 140px;
    }
    .uploaded-image{
        margin:auto; 
        width:200px;
        display:block;
        text-align: center;
    }
    .choose-img-btn{
        width: 80px;
        margin-top: 30px;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .create-food-btn{
        width: 170px;
        height: 40px;
        border-radius: 6px;
        background: #ee6e73;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .create-food-btn-div{
        clear: both;
        border: none;
    }

    .del-cart-btn{
        border: none;
        border-radius: 5px;
        width: 60px;
        height: 33px;
        background: #ee6e73;
        font-weight: 700;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .place-order-div{
        margin-top: 50px;
    }

    #placeOrderBtn{
        width: 120px;
        height: 40px;
        background: #ee6e73;
        outline: none;
        border-radius: 6px;
        font-weight: 800;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .comp-order-input{
        width: 430px;
        height: 32px;
        border-radius: 5px;
        outline: none;
        padding-left: 5px;
        
    }
    .comp-order-text-area{
        width: 430px;
        height: 50px;
        border-radius: 5px;
        outline: none;
        padding-left: 5px;
    }
    .comp-booking-btn{
        width: 100px;
        height: 34px;
        background: #ee6e73;
        outline: none;
        border-radius: 6px;
        font-weight: 800;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .comp-tab-cont{
        margin: 20px;
        padding: 10px;
        height: 90px;
    }
    #compOrdDiv{
        display: none;
        border: 2px solid #365768;
        width: 60%;
        margin-top: 70px;
    }
    .disp-comp-ord{
        display: block;
    }
    .comp-table.tr{
        margin-top: 50px;
    }
    .disabled-hover {
        cursor: not-allowed;
        background: none;
      }
    .disabled-hover:hover{
        background: rgba(10, 10, 10 ,0)
    }
    .completed-checkbox{
        width:23px;
        height:23px;
        cursor: not-allowed;
    }
    .is-accepted{
        cursor: pointer;
    }
    .error-hander{
        color: rgb(226, 0, 30);
    }

    @media screen and (min-width: 600px) and (max-width: 900px) {
        .search-input{
            width: 290px;
        }
            .order-table th, .order-table tr , .order-table td {
            text-align: center;
            padding: 16px;
        }
        .left-ad{
            float: none;
            margin-left: auto;
            margin-right: auto;
        }
        .right-ad{
            float: none;
            margin-left: auto;
            margin-right: auto;
        }
        .create-cont-wrapper{
            width: 80%;
            height: 600px;
            margin: 50px;
        }
        .del-cart-btn{
            font-size: 12px;
            width: 40px;
            height: 23px;
            font-weight: 700;
            border: none;
            outline: none;
        }
        .comp-order-input{
            width: 200px;
            height: 32px;
            
        }
        .comp-order-text-area{
            width: 200px;
            height: 45px;
        }
        #compOrdDiv{
            width: 70%;
         }

    }

    @media screen and (max-width: 600px) {

        .search-input{
            width: 220px;
        }
        .order-table th, .order-table tr , .order-table td {
            text-align: center;
            padding: 7px;
        }
        .user-input-small{
            width: 200px;
        }
        .left-ad{
            float: none;
            margin-left: auto;
            margin-right: auto;
        }
        .right-ad{
            float: none;
            margin-left: auto;
            margin-right: auto;
        }
        .create-cont-wrapper{
            width: 80%;
            height: 650px;
            margin: 50px;
        }
        .order-table th, .order-table tr , .order-table td {
            text-align: center;
            padding: 3px;
            font-size: 12px;
        }
        .del-cart-btn{
            font-size: 10px !important;
            width: 40px;
            height: 23px;
            font-weight: 700;
            border: none;
            outline: none;
            cursor: pointer;
        }
        .comp-order-input{
            width: 160px;
            height: 27px;
            
        }
        .comp-order-text-area{
            width: 160px;
            height: 42px;
        }
        #compOrdDiv{
            width: 90%;
         }
         td{
             font-size: 13px;
         }

    }

