/*Idea from w3schools*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 150px; 
    left: 0;
    right: 0;
    top: 0;
    width: 500px;
    height: auto; 
    margin-left: auto;
    margin-right: auto;
    overflow: auto;    
   
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #e3e3e3;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 6px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 10px;
    background: #ee6e73;
    color: white;
}
.modal-header h3{
    color: #000;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 0px 8px;
    background: #ee6e73;
    color: black;
    padding: 1px;
}
.modal-footer h3{
    font-family: Snell Roundhand, cursive;
}


/* delete modal questions button*/
.del-ques-btn{
    background-color: rgb(94, 83, 83);
    width: 50px;
    height: 30px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
}

.order-modal-btn{
    width: 250px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    background: #ee6e73;
    font-size: 20px;
    color: #e3e3e3;
    cursor: pointer;
    border: none;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .modal{
        width: 400px;
        padding-top: 120px;
    }
}


@media screen and (max-width: 600px) {
    .modal{
        width: 320px;
        padding-top: 80px;
    }
    .modal-content{
        width: 100%;
    }
}

